<h2>Reactive: <small>Básicos</small></h2>
<div class="row">
  <div class="col">
    <form autocomplete="off">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"            
            name="producto"
            placeholder="Nombre del producto"
            required
            minlength="3"
          />

          <span class="form-text text-danger">
            El nombre debe ser de al menos 3 caracteres.
          </span>
        </div>
      </div>

      <!-- Campo de precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            name="precio"
            placeholder="Precio del producto"
            required
            min="0"
          />

          <span class="form-text text-danger">
            El precio debe ser mayor de 0.
          </span>
        </div>
      </div>

      <!-- Campo de stock -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            name="stock"
            customMin
            placeholder="Stock del producto"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <h5>Valid</h5>
<pre> {{ miFormulario.valid }} </pre>

<h5>Pristine</h5>
<pre> {{ miFormulario.pristine }} </pre>

<h5>Touched</h5>
<pre> {{ miFormulario.touched }} </pre>

<h5>Value</h5>
<pre> {{ miFormulario.value | json }} </pre>

<h5>CustomDirective</h5>
<pre> {{ miFormulario.controls.stock?.errors | json }} </pre> -->
