<h2>Validaciones Reactive</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre y Apellidos..."
          />
          <span class="form-text text-danger" *ngIf="validaCampo('nombre')">
            Debe ser en formato nombre y apellido
          </span>
        </div>
      </div>
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="email@email.com"
          />
          <span class="form-text text-danger" *ngIf="validaCampo('email')">
            {{emailErrorMsg}}
          </span>
        </div>
      </div>
      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Nombre del usuario..."
          />
          <span class="form-text text-danger" *ngIf="validaCampo('username')">
            El usuario no puede ser 'usuario'
          </span>
        </div>
      </div>
      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password de su cuenta..."
          />
          <span class="form-text text-danger" *ngIf="validaCampo('password')">
            La contraseña debe ser mayor de 6 caracteres y contener al menos una mayúscula, una minúscula, un número y un carácter especial
          </span>
        </div>
      </div>
      <!-- Password 2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Repita el Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password2"
            placeholder="Repita el Password"
          />
          <span class="form-text text-danger" *ngIf="validaCampo('password2')">
            Las contraseñas deben ser iguales
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" [disabled]="miFormulario.pending">
            Nuevo Usuario
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h5>Form Valid: {{ miFormulario.valid }}</h5>
<h5>Form Status: {{ miFormulario.status }}</h5>
<h5>Form Pending: {{ miFormulario.pending }}</h5>
<h5>Form Errors: {{ miFormulario.errors | json }}</h5>
<br />
<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>
<br />
<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>
<br />
<h5>Username</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>
<br />
<h5>Password</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>
<br />
<h5>Password 2</h5>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
